<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to projects stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/projects.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/references">References</a></li>
	    		</ul>
			</nav>

			<div class="container">

			{{ content }}

			</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li><a href="https://github.com/cgassman/data-science-projects">cgassman-github-datascience-projects</a></li>
			</ul>
			</footer>
		</body>
	</html>
